<template>
  <form :action="route.query.action" method="post" ref="submitForm" class="content">
    <template v-if="route.query.cReq">
      <input type="hidden" name="creq" :value="route.query.cReq" />
      <input type="hidden" name="threeDSSessionData" :value="route.query.transactionId" />
    </template>
    <template v-else-if="route.query.paReq">
      <input type="hidden" name="PaReq" :value="route.query.paReq" />
      <input type="hidden" name="MD" :value="route.query.transactionId">
      <input type="hidden" name="TermUrl" :value="route.query.notificationUrl">
    </template>
    <h4>Authentication Required</h4>
    <p>Please click button below to proceed to 3D secure if you are not redirected.</p>
    <button type="submit" class="button is-primary" :disabled="goButtonText !== 'Go'">{{ goButtonText }}</button>
  </form>
</template>

<script setup lang="ts">
import {onMounted} from 'vue'
definePageMeta({
  layout: "iframe",
})
const route = useRoute()
const submitForm = ref(null)
const goButtonText = ref('Go')
onMounted(() => {
  submitForm.value.submit()
  goButtonText.value = 'Please wait...'
})
</script>

