@import "_vars/all"

@import "~bulma/sass/utilities/_all"
@import "~bulma/sass/base/_all"
@import "./bulma/elements"
@import "~bulma/sass/form/_all"
// @import "~bulma/sass/components/_all"
@import "~bulma/sass/components/card"
@import "~bulma/sass/components/modal"
@import "~bulma/sass/grid/_all"
// @import "~bulma/sass/helpers/_all"
@import "~bulma/sass/helpers/color"
@import "~bulma/sass/helpers/flexbox"
@import "~bulma/sass/helpers/typography"
@import "./bulma/layout"

body
  margin: 0
  font-family: $body-family

html,
body,
#__nuxt,
#__nuxt > div
  height: 100%

.container
  &.is-wide
    max-width: 100vw

