<template>
  <div :class="['card', { 'is-selected': isChecked, 'is-overdue': !!invoiceOverdue }]">
    <label>
      <div class="card-content">
          <div class="columns is-mobile is-gapless is-align-items-center">
            <div class="column">
              <p class="title is-3 is-4-mobile" :class="{ 'has-text-danger': invoiceOverdue }">{{ invoice.invoiceNumber }}</p>
              <p class="subtitle is-5 is-6-mobile">Amount due: &pound;{{ invoice.amountDue }}</p>
              <p v-if="invoiceOverdue" class="has-text-danger has-text-weight-bold">{{ invoiceOverdue }}</p>
              <p class="has-text-primary has-text-weight-bold" v-if="paymentProcessingFee">Payment processing fee: &pound;{{ formatMoney(paymentProcessingFee) }}*</p>
            </div>
            <div class="column is-narrow">
              <input type="checkbox" :value="invoice.invoiceNumber" v-model="inputValue">
            </div>
          </div>
      </div>
    </label>
    <footer class="card-footer">
      <div class="card-footer-item has-text-grey">
        Date: {{ invoiceDate }}
      </div>
      <div class="card-footer-item is-narrow">
        <p><nuxt-link target="_blank" rel="noopener" :to="`/xero/online-invoice?sc=${shortCode}&inv=${invoice.invoiceID}`" class="button is-small is-light">View invoice</nuxt-link></p>
      </div>
    </footer>
  </div>
</template>

<script setup lang="ts">
import {computed, PropType, ref, watch} from 'vue'
import {formatMoney, calculateFees} from '~/mixins/MoneyUtils';

const props = defineProps({
  invoice: Object,
  shortCode: String,
  modelValue: Array as PropType<Array<string>>
})

const emit = defineEmits<{
  (e: 'update:modelValue', value: string[]): void
}>()
const inputValue = ref(props.modelValue)

const invoiceDate = computed(() => {
  const date = new Date(props.invoice.date)
  return date.toLocaleDateString("en-GB")
})
const invoiceOverdue = computed(() => {
  const date = new Date(props.invoice.dueDate)
  if (date.getTime() < (new Date()).getTime()) {
    return 'Payment overdue since ' + date.toLocaleDateString("en-GB")
  }
  return null
})
const isChecked = computed(() => {
  return inputValue.value.indexOf(props.invoice.invoiceNumber) !== -1
})

const paymentProcessingFee = computed(() => {
  return calculateFees(props.invoice.amountDue)
})

watch(() => props.modelValue, (newValue) => {
  inputValue.value = newValue
})
watch(inputValue, (newValue) => {
  emit('update:modelValue', newValue);
})
</script>

<style lang="sass">
.card
  transition: box-shadow .3s
  &.is-overdue:not(.is-selected)
    box-shadow: 0 0.5em 1em -0.125em rgba($danger, 70%), 0 0 0 1px rgba($danger, 50%)
  &.is-selected
    box-shadow: 0 0.5em 1em -0.125em rgba($success, 70%), 0 0 0 1px rgba($success, 50%)
  .subtitle
    margin-bottom: .25rem
  > label
    cursor: pointer
  .card-footer-item
    padding: .75rem 1.5rem
    justify-content: flex-start
    &.is-narrow
      flex-grow: 0
</style>
