<template>
  <div>
    <Transition name="fade" mode="out-in">
      <div v-if="!xeroData && !fetchError">
        <loader />
      </div>
      <div v-else-if="fetchError">
        <p class="subtitle has-text-centered has-text-danger">{{ fetchError }}</p>
      </div>
      <div v-else class="invoice-container">
        <div class="inner">
          <h2 class="title is-4 has-text-centered">Select Your Invoices</h2>
          <ul class="invoice-list">
            <li v-for="invoice of xeroData.invoices" :key="invoice.invoiceNumber">
              <invoice
                  :invoice="invoice"
                  :short-code="shortCode"
                  v-model="selectedInvoices"
              />
            </li>
          </ul>

          <div class="summary">
            <div class="has-text-weight-bold has-text-centered has-text-primary">
              <p v-if="selectedInvoices.length === 0" class="has-text-danger">
                Please select the invoices you wish to pay
              </p>
              <p v-else>
                {{ selectedInvoices.length }} of {{ xeroData.invoices.length }} Invoices Selected
              </p>
              <p v-if="totalFees > 0">
                Additional payment fees: &pound;{{ formatMoney(totalFees) }}*
              </p>
            </div>

            <button class="button is-fullwidth is-primary continue-button" :disabled="selectedInvoices.length === 0" @click="goToPayment">
              Continue to Pay &pound;{{ formatMoney(totalToPay) }}
            </button>
          </div>
        </div>
        <div class="alt-payment">
          <template v-if="invoicesContainFees">
            <p>
              *For invoices over &pound;{{ invoiceFeeBreakpoint }} there is a {{ invoiceFeePercent * 100 }}% online payment fee.
            </p>
            <p>
              If you'd prefer not to pay the fee please make a bank transfer instead.
            </p>
          </template>
          <p v-else>
            If you would rather pay by bank transfer please be sure to include your invoice number as a reference
          </p>
          <div
              v-for="bankAccount of xeroData.bankAccounts"
              :key="bankAccount.accountID"
          >
            <table
                class="table is-fullwidth is-bordered"
            >
              <tbody>
              <tr>
                <th>Bank:</th>
                <td>{{ bankAccount.name }}</td>
              </tr>
              <tr>
                <th>Sort Code:</th>
                <td>{{ bankAccount.bankAccountNumber.substring(0, 6) }}</td>
              </tr>
              <tr>
                <th>Account Number:</th>
                <td>{{ bankAccount.bankAccountNumber.substring(6) }}</td>
              </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </Transition>
  </div>
</template>

<script setup lang="ts">
import {ref, onMounted, computed, PropType, watch} from 'vue'
import { useRoute } from 'vue-router'
import Invoice from '~/components/Invoice.vue';
import Loader from '~/components/Loader.vue';
import {Contact, Invoice as InvoiceType} from 'xero-node';
import {formatMoney, calculateFees, invoiceFeeBreakpoint, invoiceFeePercent} from '~/mixins/MoneyUtils';
import {FetchError} from 'ohmyfetch';
import {BasketInterface} from '~/mixins/OpayoPaymentUtils';

interface InvoiceResponse {
  success: boolean
  contact: Contact
  invoices: InvoiceType[]
}

const props = defineProps({
  modelValue: Object as PropType<BasketInterface>
})
const basket = ref(props.modelValue)

const route = useRoute()
const xeroData = ref(null)
const shortCode = route.query.sc
const selectedInvoices = ref([])
const fetchError = ref(null)

const emit = defineEmits<{
  (e: 'goToPayment'): void,
  (e: 'update:modelValue', value: BasketInterface): void
}>()

function goToPayment() {
  if (selectedInvoices.value.length === 0) {
    return
  }
  emit('goToPayment')
}

async function loadInvoices() {
  const params = new URLSearchParams(route.fullPath.split('?')[1] || '')
  try {
    const invoiceResponse: InvoiceResponse = await $fetch(`/xero/fetch-invoices?${params.toString()}`)
    xeroData.value = invoiceResponse
    selectedInvoices.value = invoiceResponse.invoices.map(({invoiceNumber}) => (invoiceNumber))
  } catch (error) {
    if (!(error instanceof FetchError)) {
      throw error
    }
    // 403 or 401 redirect to oauth
    if ([401, 403].indexOf(error.response.status) !==  -1) {
      redirectToOauth()
      return
    }
    fetchError.value = `${error.response.status}: ${error.data.message}`
  }
}

function redirectToOauth()
{
  const params = new URLSearchParams()
  params.append('returnUrl', route.fullPath)
  window.location.href = '/xero/oauth?' + params.toString()
  fetchError.value = 'Authentication error. Redirecting you to complete Xero oAuth...'
}

const selectedInvoiceObjects = computed(() => {
  if (!xeroData.value?.invoices) {
    return []
  }
  return xeroData.value.invoices.filter(({invoiceNumber}) => selectedInvoices.value.indexOf(invoiceNumber) !== -1)
})

const totalToPay = computed(() => {
  const totalDue = selectedInvoiceObjects.value.reduce((partialSum, { amountDue }) => (partialSum + amountDue), 0)
  return formatMoney(totalDue + totalFees.value)
})

const totalFees = computed(() => {
  return selectedInvoiceObjects.value.reduce((partialSum, { amountDue }) => (partialSum + calculateFees(amountDue)), 0)
})

const invoicesContainFees = computed(() => {
  for (const { amountDue } of xeroData.value.invoices) {
    if (calculateFees(amountDue) > 0) {
      return true
    }
  }
  return false
})

onMounted(async () => {
  await loadInvoices()
})

watch(() => props.modelValue, (newValue) => {
  basket.value = newValue
})
watch(selectedInvoiceObjects, (newValue) => {
  basket.value = {
    selectedInvoices: newValue,
    total: totalToPay.value,
    contact: xeroData.value?.contact
  }
})
watch(basket, (newValue) => {
  emit('update:modelValue', newValue);
})
</script>

<style lang="sass">
.fade-enter-active,
.fade-leave-active
  transition: all 0.5s ease

.fade-enter-from,
.fade-leave-to
  opacity: 0

.invoice-container
  position: relative
  margin: 0 auto 4rem auto
  max-width: 600px

.summary
  margin-top: 2rem

.continue-button,
.alt-payment
  margin-top: 1rem

.invoice-list
  li:not(:last-child)
    margin-bottom: 1.5rem
</style>
