<template>
  <div class="layout-footer columns is-justify-content-flex-end is-align-items-center is-gapless is-mobile">
    <div class="column is-narrow">
      Your payment is secured by
    </div>
    <div class="column is-narrow">
      <nuxt-link to="https://www.opayo.co.uk/" target="_blank" rel="noopener"><opayo-logo class="opayo-logo" alt="Opayo by Elavon" /></nuxt-link>
    </div>
  </div>
</template>

<script setup>
import OpayoLogo from "~/assets/images/opayo-logo.svg?component";
</script>

<style lang="sass">
.layout-footer
  background: $opayo
  color: $white
  padding: 1rem .75rem
  .opayo-logo
    height: 20px
    display: block
    margin-left: .75rem
</style>