<template>
  <div class="container">
    <div class="columns is-centered is-mobile is-gapless">
      <div class="column is-narrow">
        <div class="logo-holder">
          <logo class="logo" />
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import Logo from "~/assets/images/logo.svg?component";
</script>

<style lang="sass">
.logo-holder
  padding: 3rem
.logo
  height: 100px
  width: auto
  +tablet
    height: 200px
</style>
