<template>
  <div>
    <Transition name="slide" mode="out-in">
      <div v-if="!paymentSuccess" class="payment-container">
        <div class="columns">
          <div class="column">
            <button class="button is-small is-white" @click="goToInvoices">&lt; Back to invoices</button>
          </div>
        </div>
        <div class="payment-billing-container">
          <payment-billing :contact="basket.contact" @update:billingAddress="updateBillingAddress" />
        </div>
        <div>
          <payment-card-input :basket="basket" @update:cardDetails="updateCardDetails" @submit="submitPayment" :submitting="submitting" :errors="errors" />
        </div>
      </div>
      <div v-else class="payment-container content has-text-centered">
        <h1 class="has-text-success">Payment Successful</h1>
        <div>
          <h3 v-if="xeroSuccess === null">
            <Loader />
          </h3>
          <div v-else-if="xeroSuccess === false">
            <h3 class="has-text-danger">An error occurred</h3>
            <p class="has-text-danger">After taking payment, we were unable to mark your invoices as paid.</p>
            <p class="has-text-danger has-text-weight-bold">Please contact us and include any error messages if they are shown below so we can manually reconcile your payment.</p>
            <ul class="errors has-text-left" v-if="errors && errors.length">
              <li v-for="error of errors" :key="error.code">
                {{ error.description ? `[${error.code}] ${error.property}: ${error.description}` : error.message }}
              </li>
            </ul>
            <p class="has-text-danger">Sorry for the inconvenience.</p>
          </div>
          <div v-else>
            <h4>Your invoices have been marked as paid</h4>
            <p>Thank you for your custom. You can now close this window.</p>
          </div>
        </div>
      </div>
    </Transition>
    <div class="modal" :class="{ 'is-active': modalSrc }">
      <div class="modal-background" @click="modalSrc = null"></div>
      <div class="modal-content">
        <div class="card">
          <div class="card-content">
            <iframe :src="modalSrc"></iframe>
          </div>
        </div>
      </div>
      <button class="modal-close is-large" aria-label="close" @click="modalSrc = null"></button>
    </div>
  </div>
</template>

<script setup lang="ts">
import PaymentCardInput from '~/components/PaymentCardInput.vue';
import {onBeforeUnmount, onMounted, PropType, ref} from 'vue';
import PaymentBilling from '~/components/PaymentBilling.vue';
import OpayoPaymentUtils, {
  BasketInterface,
  BillingAddressInterface,
  CardDetailsInterface
} from '~/mixins/OpayoPaymentUtils'
import {FetchError} from 'ohmyfetch';
import {useRoute} from '#app';
import Loader from '~/components/Loader.vue';

const { getCardIdentifier, getMerchantSessionKey, postPayment, xeroComplete } = OpayoPaymentUtils()

const props = defineProps({
  basket: Object as PropType<BasketInterface>
})

const submitting = ref(false)
const errors = ref([])
const paymentSuccess = ref(false)
const xeroSuccess = ref(null)
const modalSrc = ref(null)
const threeDSNotifcationUrl = ref(null)

const billingAddress = ref({
  firstName: '',
  lastName: '',
  address1: '',
  address2: '',
  address3: '',
  city: '',
  postalCode: '',
  country: ''
} as BillingAddressInterface)

const cardDetails = ref({
  cardholderName: '',
  cardNumber: '',
  expiryDate: '',
  securityCode: ''
} as CardDetailsInterface)

const emit = defineEmits<{
  (e: 'goToInvoices'): void
}>()

function goToInvoices() {
  emit('goToInvoices')
}

function updateBillingAddress(newBillingAddress) {
  billingAddress.value = newBillingAddress
}
function updateCardDetails(newCardDetails) {
  cardDetails.value = newCardDetails
}

function handleError (error) {
  if (!(error instanceof FetchError)) {
    errors.value = error.errors || [{code: 0, message: error.message}]
  } else {
    if (error.data?.errors) {
      errors.value = error.data.errors
    } else if(error.data?.success === false) {
      errors.value = [{code: 0, message: `[${error.response.status}] ${error.data.message}`}]
    } else {
      errors.value = [{code: 0, message: error.data || error.message}]
    }
  }
  submitting.value = false
}

async function submitPayment() {
  submitting.value = true
  errors.value = null

  let merchantSessionKey
  try {
    merchantSessionKey = await getMerchantSessionKey()
  } catch(error) {
    handleError(error)
    return
  }

  let cardIdentifier
  try {
    cardIdentifier = await getCardIdentifier(merchantSessionKey, cardDetails.value)
  } catch (error) {
    handleError(error)
    return
  }

  let paymentResult
  try {
    paymentResult = await postPayment(merchantSessionKey, cardIdentifier, billingAddress.value, props.basket)
  } catch (error) {
    handleError(error)
    return
  }

  await handlePaymentResult(paymentResult)

  submitting.value = false
}

async function handlePaymentResult(paymentResult)
{
  if (paymentResult.notificationURL) {
    threeDSNotifcationUrl.value = paymentResult.notificationURL
  }
  switch (paymentResult.statusCode) {
    case '2021':
      await handleAcs(paymentResult)
      break;
    case '2007':
      await handleAcsLegacy(paymentResult)
      break;
    case '0000':
      await handlePaymentSuccess(paymentResult.transactionId)
      break;
    default:
      await handlePaymentFailed(paymentResult)
      break;
  }
}

async function handleAcsLegacy(paymentResult) {
  /*
    {
      "statusCode":"2007",
      "statusDetail":"Please redirect your customer to the ACSURL to complete the 3DS Transaction",
      "transactionId":"DFAF9D9A-CD17-A4DF-B5A0-D9A9D88E4468",
      "acsUrl":"https://test.opayo.co.uk/mpitools/accesscontroler?action=pareq",
      "paReq":"eJxVUstuwjAQvPcrolwrxXaeCC1GtB...2WD1jFj8RAZvQztwd7ZIGgAEFNLxu2RcdEY/fsAv12RstM=",
      "status":"3DAuth"
    }
     */
  const searchParams = new URLSearchParams({
    action: paymentResult.acsUrl,
    paReq: paymentResult.paReq,
    notificationUrl: paymentResult.notificationUrl,
    transactionId: paymentResult.transactionId
  })
  modalSrc.value = `/opayo/challenge?${searchParams.toString()}`
}

async function handleAcs(paymentResult)
{
  /*
    {
      "statusCode":"2021",
      "statusDetail":"Please redirect your customer to the ACSURL to complete the 3DS Transaction",
      "transactionId":"BEB718F6-3ED2-323E-2CB2-B8C83DB2029C",
      "acsTransId":"43b04fd1-692c-4b76-ac20-a75527ad0a25",
      "dsTransId":"7980e36f-907b-4530-84fd-ccc1f40bf9ae",
      "acsUrl":"https://localhost:8252/html_challenge",
      "status":"3DAuth",
      "cReq":"eyJtZXNzYWdlVHlwZSI6IkNSZXEi...V2luZG93U2l6ZSI6IjAxIn0"
    }
     */
  const searchParams = new URLSearchParams({
    action: paymentResult.acsUrl,
    cReq: paymentResult.cReq,
    transactionId: paymentResult.transactionId
  })
  modalSrc.value = `/opayo/challenge?${searchParams.toString()}`
}

async function handlePaymentFailed(paymentResult) {
  paymentSuccess.value = false
  errors.value = [
    {
      code: paymentResult.statusCode,
      message: paymentResult.statusDetail
    }
  ]
}

async function handlePaymentSuccess(transactionId: string) {
  paymentSuccess.value = true

  try {
    let route = useRoute()
    const sc = Array.isArray(route.query.sc) ? route.query.sc[0] : route.query.sc
    await xeroComplete(transactionId, sc)
    xeroSuccess.value = true
  } catch (error) {
    xeroSuccess.value = false
    handleError(error)
    return
  }
}

function challengeCompleteListener(event) {
  const notificationUrl = threeDSNotifcationUrl.value
  if (!notificationUrl) {
    return
  }
  const url = new URL(notificationUrl)
  if(url.origin !== event.origin) {
    return
  }

  handlePaymentResult(event.data)
  modalSrc.value = null
}

onMounted(() => {
  window.addEventListener(
      "message",
      challengeCompleteListener,
      false
  )
})

onBeforeUnmount(() => {
  window.removeEventListener(
      "message",
      challengeCompleteListener
  )
})
</script>

<style lang="sass">
.payment-container
  max-width: 500px
  margin: auto
  .payment-billing-container
    margin-bottom: 2rem
iframe
  width: 100%
  height: 400px
  max-height: 70vh
</style>