<template>
  <div class="card payment-billing">
    <div class="card-header">
      <h2 class="card-header-title">Billing Details</h2>
    </div>
    <div class="card-content">
      <div class="columns">
        <div class="column">
          <div class="field">
            <label class="label" for="billingFirstName">First Name</label>
            <div class="control">
              <input type="text" id="billingFirstName" class="input" v-model="firstName" autocomplete="off">
            </div>
          </div>
        </div>
        <div class="column">
          <div class="field">
            <label class="label" for="billingLastName">Last Name</label>
            <div class="control">
              <input type="text" id="billingLastName" class="input" v-model="lastName" autocomplete="off">
            </div>
          </div>
        </div>
      </div>
      <div class="field">
        <label class="label" for="addressLine1">Address Line 1</label>
        <div class="control">
          <input type="text" id="addressLine1" class="input" v-model="addressLine1" autocomplete="off">
        </div>
      </div>
      <div class="field">
        <label class="label" for="addressLine2">Address Line 2</label>
        <div class="control">
          <input type="text" id="addressLine2" class="input" v-model="addressLine2" autocomplete="off">
        </div>
      </div>
      <div class="field">
        <label class="label" for="addressLine3">Address Line 3</label>
        <div class="control">
          <input type="text" id="addressLine3" class="input" v-model="addressLine3" autocomplete="off">
        </div>
      </div>
      <div class="field">
        <label class="label" for="city">City</label>
        <div class="control">
          <input type="text" id="city" class="input" v-model="city" autocomplete="off">
        </div>
      </div>
      <div class="field" v-if="regions.length">
        <label class="label" for="region">Region</label>
        <div class="control">
          <div class="select is-fullwidth">
            <select id="region" v-model="region">
              <option v-for="region in regions"  :value="region.abbreviation" :key="region.abbreviation">
                {{ region.name }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="field">
        <label class="label" for="postcode">Postcode</label>
        <div class="control">
          <input type="text" id="postcode" class="input" v-model="postcode" autocomplete="off">
        </div>
      </div>
      <div class="field">
        <label class="label" for="country">Country</label>
        <div class="control">
          <div class="select is-fullwidth">
            <select id="country" v-model="country">
              <option v-for="country in countries"  :value="country.code" :key="country.code">
                {{ country.name }}
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import {computed, ref, watch} from 'vue';
import {getCountries} from 'country-state-picker';
import {usaStates} from 'typed-usa-states/dist/states.js'
import {BillingAddressInterface} from '~/mixins/OpayoPaymentUtils';


const emit = defineEmits<{
  (e: 'update:billingAddress', value: BillingAddressInterface): void
}>()

const props = defineProps({
  contact: Object
})

const countries = getCountries()

const nameSplit = props.contact.name.split(" ")
const address = props.contact.addresses[0]
const firstName = ref(nameSplit[0])
const lastName = ref(nameSplit[1])
const addressLine1 = ref(address.addressLine1)
const addressLine2 = ref(address.addressLine2)
const addressLine3 = ref('')
const postcode = ref(address.postalCode)
const city = ref(address.city)

const regions = computed(() => {
  if (country.value === 'us') {
    return usaStates
  }
  return []
})

const country = ref(findCountryCode(address.country))
const region = ref(findRegionCode(address.region))

function findCountryCode(countryName) {
  const lowerCountryName = countryName.toLowerCase()
  for (const country of countries) {
    if (country.name.toLowerCase() === lowerCountryName || country.code.toLowerCase() === lowerCountryName) {
      return country.code
    }
  }
  // default to UK - most likely
  return 'gb'
}

function findRegionCode(regionName) {
  const lowerRegionName = regionName.toLowerCase()
  for (const region of regions.value) {
    if (region.abbreviation.toLowerCase() === lowerRegionName || region.abbreviation.toLowerCase() === lowerRegionName) {
      return region.abbreviation
    }
  }
  return null
}

const opayoBillingAddress = computed((): BillingAddressInterface => {
  return {
    firstName: firstName.value,
    lastName: lastName.value,
    address1: addressLine1.value,
    address2: addressLine2.value,
    address3: addressLine3.value,
    city: city.value,
    postalCode: postcode.value,
    country: country.value,
    region: region.value
  }
})

watch(opayoBillingAddress, (newValue: BillingAddressInterface) => {
  emit('update:billingAddress', newValue)
}, {
  immediate: true
})
</script>

<style lang="sass">
.payment-billing
  .label
    font-size: $size-7
    margin-bottom: .25em
</style>
