<template>
  <div class="payment-card">
      <div class="card">
        <div class="card-list">
          <div class="card-item" v-bind:class="{ '-active' : isCardFlipped }">
            <div class="card-item__side -front">
              <div class="card-item__focus" v-bind:class="{'-active' : focusElementStyle }" :style="focusElementStyle" ref="focusElement"></div>
              <div class="card-item__cover">
                <!-- <img v-bind:src="" class="card-item__bg"> -->
              </div>

              <div class="card-item__wrapper">
                <div class="card-item__top">
                  <img src="~assets/images/chip.png" class="card-item__chip">
                  <div class="card-item__type">
                    <transition name="slide-fade-up">
                      <img v-bind:src="'/card-logos/' + getCardType + '.png'" v-if="getCardType" v-bind:key="getCardType" alt="" class="card-item__typeImg">
                    </transition>
                  </div>
                </div>
                <label for="cardNumber" class="card-item__number" ref="cardNumberElement">
                  <template v-if="getCardType === 'amex'">
                    <span v-for="(n, $index) in amexCardMask" :key="$index">
                      <transition name="slide-fade-up">
                        <div
                            class="card-item__numberItem"
                            v-if="$index > 4 && $index < 14 && cardNumber.length > $index && n.trim() !== ''"
                        >*</div>
                        <div class="card-item__numberItem"
                             :class="{ '-active' : n.trim() === '' }"
                             :key="$index" v-else-if="cardNumber.length > $index">
                          {{cardNumber[$index]}}
                        </div>
                        <div
                            class="card-item__numberItem"
                            :class="{ '-active' : n.trim() === '' }"
                            v-else
                            :key="$index + 1"
                        >{{n}}</div>
                      </transition>
                    </span>
                  </template>
                  <template v-else>
                    <span v-for="(n, $index) in otherCardMask" :key="$index">
                      <transition name="slide-fade-up">
                        <div
                            class="card-item__numberItem"
                            v-if="$index > 4 && $index < 15 && cardNumber.length > $index && n.trim() !== ''"
                        >*</div>
                        <div class="card-item__numberItem"
                             :class="{ '-active' : n.trim() === '' }"
                             :key="$index" v-else-if="cardNumber.length > $index">
                          {{cardNumber[$index]}}
                        </div>
                        <div
                            class="card-item__numberItem"
                            :class="{ '-active' : n.trim() === '' }"
                            v-else
                            :key="$index + 1"
                        >{{n}}</div>
                      </transition>
                    </span>
                  </template>
                </label>
                <div class="card-item__content">
                  <label for="cardName" class="card-item__info" ref="cardNameElement">
                    <span class="card-item__holder">Card Holder</span>
                    <transition name="slide-fade-up">
                      <div class="card-item__name" v-if="cardName.length" key="1">
                        <transition-group name="slide-fade-right">
                          <span
                              v-for="(n, $index) in cardName.replace(/\s\s+/g, ' ')"
                              class="card-item__nameItem"
                              :key="$index + 1">{{n}}</span>
                        </transition-group>
                      </div>
                      <div class="card-item__name" v-else key="2">Full Name</div>
                    </transition>
                  </label>
                  <div class="card-item__date" ref="cardDateElement">
                    <label for="cardMonth" class="card-item__dateTitle">Expires</label>
                    <label for="cardMonth" class="card-item__dateItem">
                      <transition name="slide-fade-up">
                        <span v-if="cardMonth" v-bind:key="cardMonth">{{cardMonth}}</span>
                        <span v-else key="2">MM</span>
                      </transition>
                    </label>
                    /
                    <label for="cardYear" class="card-item__dateItem">
                      <transition name="slide-fade-up">
                        <span v-if="cardYear" v-bind:key="cardYear">{{String(cardYear).slice(2,4)}}</span>
                        <span v-else key="2">YY</span>
                      </transition>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-item__side -back">
              <div class="card-item__cover">
                <!-- <img v-bind:src="" class="card-item__bg"> -->
              </div>
              <div class="card-item__band"></div>
              <div class="card-item__cvv">
                <div class="card-item__cvvTitle">CVV</div>
                <div class="card-item__cvvBand">
                  <span v-for="(n, $index) in cardCvv" :key="$index">
                    *
                  </span>

                </div>
                <div class="card-item__type">
                  <img v-bind:src="'/card-logos/' + getCardType + '.png'" v-if="getCardType" class="card-item__typeImg">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-content">
          <div class="field">
            <label class="label" for="cardNumber">Card Number</label>
            <div class="control">
              <input type="text" id="cardNumber" class="input" v-mask="generateCardNumberMask" v-model="cardNumber" @focus="focusInput(cardNumberElement)" @blur="blurInput" autocomplete="off">
            </div>
          </div>
          <div class="field">
            <label class="label" for="cardName">Card Holder</label>
            <div class="control">
              <input type="text" id="cardName" class="input" v-model="cardName" @focus="focusInput(cardNameElement)" @blur="blurInput" autocomplete="off">
            </div>
          </div>
          <div class="columns">
            <div class="column">
              <label class="label">Expiration Date</label>
              <div class="field is-grouped">
                <div class="control">
                  <div class="select">
                    <select id="cardMonth" v-model="cardMonth" @focus="focusInput(cardDateElement)" @blur="blurInput">
                      <option value="" disabled selected>Month</option>
                      <option v-bind:value="n < 10 ? '0' + n : n" v-for="n in 12" v-bind:disabled="n < minCardMonth" v-bind:key="n">
                        {{n < 10 ? '0' + n : n}}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="control">
                  <div class="select">
                    <select id="cardYear" v-model="cardYear" @focus="focusInput(cardDateElement)" @blur="blurInput">
                      <option value="" disabled selected>Year</option>
                      <option v-bind:value="$index + minCardYear" v-for="(n, $index) in 12" v-bind:key="n">
                        {{$index + minCardYear}}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="field">
                <label class="label" for="cardCvv">CVV</label>
                <div class="control">
                  <input type="text" id="cardCvv" class="input" v-mask="'####'" maxlength="4" v-model="cardCvv" @focus="flipCard(true)" @blur="flipCard(false)" autocomplete="off">
                </div>
              </div>
            </div>
          </div>

          <ul class="errors" v-if="props.errors && props.errors.length">
            <li v-for="error of props.errors" :key="error.code">
              {{ error.description ? `[${error.code}] ${error.property}: ${error.description}` : error.message }}
            </li>
          </ul>
          <button class="button is-fullwidth is-primary" @click="emitSubmit" :disabled="submitting">
            Pay &pound;{{ formatMoney(basket.total) }} Now
          </button>
        </div>
      </div>
    </div>
</template>

<script setup lang="ts">
import {ref, onMounted, computed, watch, PropType} from 'vue';
import {mask} from 'vue-the-mask';
import {formatMoney} from '~/mixins/MoneyUtils';
import {BasketInterface, CardDetailsInterface} from '~/mixins/OpayoPaymentUtils';

const props = defineProps({
  basket: Object as PropType<BasketInterface>,
  submitting: Boolean,
  errors: Array
})

const cardName = ref('')
const cardNumber = ref('')
const cardMonth = ref(null)
const cardYear = ref(null)
const cardCvv = ref('')
const minCardYear = new Date().getFullYear()
const amexCardMask = "#### ###### #####"
const otherCardMask = "#### #### #### ####"
const cardNumberTemp = ref('')
const isCardFlipped = ref(false)
const focusElementStyle = ref(null)
const isInputFocused = ref(false)

const focusElement = ref(null)
const cardNumberElement = ref(null)
const cardNameElement = ref(null)
const cardDateElement = ref(null)

onMounted(() => {
  cardNumberTemp.value = otherCardMask
})

const vMask = mask

const emit = defineEmits<{
  (e: 'update:cardDetails', value: CardDetailsInterface): void,
  (e: 'submit'): void
}>()

const getCardType = computed(() => {
  let number = cardNumber.value || '';
  let re = new RegExp("^4");
  if (number.match(re) != null) return "visa";

  re = new RegExp("^(34|37)");
  if (number.match(re) != null) return "amex";

  re = new RegExp("^5[1-5]");
  if (number.match(re) != null) return "mastercard";

  re = new RegExp("^6011");
  if (number.match(re) != null) return "discover";

  re = new RegExp('^9792')
  if (number.match(re) != null) return 'troy'

  return "visa";
})

const generateCardNumberMask = computed(() => {
  return getCardType.value === "amex" ? amexCardMask : otherCardMask;
})

const minCardMonth = computed(() => {
  if (cardYear.value === minCardYear) return new Date().getMonth() + 1;
  return 1;
})

watch(cardYear, () => {
  if (cardMonth.value < minCardMonth.value) {
    cardMonth.value = null;
  }
})

function flipCard(newValue: boolean) {
  isCardFlipped.value = newValue
}

function focusInput (target) {
  isInputFocused.value = true;
  if (!target) {
    console.warn(`Element reference not found`)
    return
  }
  focusElementStyle.value = {
    width: `${target.offsetWidth}px`,
    height: `${target.offsetHeight}px`,
    transform: `translateX(${target.offsetLeft}px) translateY(${target.offsetTop}px)`
  }
}
function blurInput() {
  setTimeout(() => {
    if (!isInputFocused.value) {
      focusElementStyle.value = null;
    }
  }, 150);
  isInputFocused.value = false;
}

const opayoCardDetails = computed((): CardDetailsInterface => {
  return {
    cardholderName: cardName.value,
    expiryDate: `${cardMonth.value || '00'}${`${cardYear.value}`?.substring(2) || '00'}`,
    cardNumber: cardNumber.value,
    securityCode: cardCvv.value
  }
})

watch(opayoCardDetails, (newValue: CardDetailsInterface) => {
  emit('update:cardDetails', newValue)
}, {
  immediate: true
})

function emitSubmit() {
  emit('submit')
}
</script>

<style lang="sass">
.card-form
  max-width: 570px
  margin: auto
  width: 100%
.card-item
  max-width: 430px
  height: 270px
  margin-left: auto
  margin-right: auto
  position: relative
  z-index: 2
  width: 100%
  +touch
    max-width: 310px
    height: 220px
    width: 90%
  +mobile
    height: 180px
  &.-active
    .card-item__side
      &.-front
        transform: perspective(1000px) rotateY(180deg) rotateX(0deg) rotateZ(0deg)
      &.-back
        transform: perspective(1000px) rotateY(0deg) rotateX(0deg) rotateZ(0deg)
  &__focus
    position: absolute
    z-index: 3
    left: 0
    top: 0
    width: 100%
    height: 100%
    transition: all 0.35s cubic-bezier(0.71, 0.03, 0.56, 0.85)
    opacity: 0
    pointer-events: none
    overflow: hidden
    border: 2px solid rgba(255, 255, 255, 0.65)
    &:after
      content: ""
      position: absolute
      top: 0
      left: 0
      width: 100%
      background: rgba($grey-darker, .5)
      height: 100%
      border-radius: 5px
      opacity: 0.5
    &.-active
      opacity: 1
  &__side
    border-radius: 15px
    overflow: hidden
    box-shadow: 5px 10px 30px 2px rgba($grey-darker, 0.45)
    transform: perspective(2000px) rotateY(0deg) rotateX(0deg) rotate(0deg)
    transform-style: preserve-3d
    transition: all 0.8s cubic-bezier(0.71, 0.03, 0.56, 0.85)
    backface-visibility: hidden
    height: 100%
    &.-back
      position: absolute
      top: 0
      left: 0
      width: 100%
      transform: perspective(2000px) rotateY(-180deg) rotateX(0deg) rotate(0deg)
      z-index: 2
      padding: 0
      height: 100%
      .card-item__cover
        transform: rotateY(-180deg)
  &__bg
    max-width: 100%
    display: block
    max-height: 100%
    height: 100%
    width: 100%
    object-fit: cover
  &__cover
    height: 100%
    background-color: $primary
    position: absolute
    left: 0
    top: 0
    width: 100%
    border-radius: 15px
    overflow: hidden
    &:after
      content: ""
      position: absolute
      left: 0
      top: 0
      width: 100%
      height: 100%
      background: rgba(6, 2, 29, 0.45)
  &__top
    display: flex
    align-items: flex-start
    justify-content: space-between
    margin-bottom: 40px
    padding: 0 10px
    +touch
      margin-bottom: 25px
    +mobile
      margin-bottom: 15px
  &__chip
    width: 60px
    +touch
      width: 50px
    +mobile
      width: 40px
  &__type
    height: 45px
    position: relative
    display: flex
    justify-content: flex-end
    max-width: 100px
    margin-left: auto
    width: 100%
    +touch
      height: 40px
      max-width: 90px
    +mobile
      height: 30px
  &__typeImg
    max-width: 100%
    object-fit: contain
    max-height: 100%
    object-position: top right
  &__info
    color: #fff
    width: 100%
    max-width: calc(100% - 85px)
    padding: 10px 15px
    font-weight: 500
    display: block
    cursor: pointer
    +touch
      padding: 10px
  &__holder
    opacity: 0.7
    font-size: 13px
    +touch
      font-size: 12px
  &__wrapper
    padding: 25px 15px
    position: relative
    z-index: 4
    height: 100%
    text-shadow: 3px 5px 3px rgba($grey-dark, 0.8)
    user-select: none
    +touch
      padding: 20px 10px
  &__name
    font-size: 18px
    line-height: 1
    white-space: nowrap
    max-width: 100%
    overflow: hidden
    text-overflow: ellipsis
    text-transform: uppercase
    +touch
      font-size: 16px
  &__nameItem
    display: inline-block
    min-width: 8px
    position: relative
  &__number
    font-weight: 500
    line-height: 1
    color: #fff
    font-size: 27px
    margin-bottom: 35px
    display: inline-block
    padding: 10px 15px
    cursor: pointer
    +touch
      font-size: 21px
      margin-bottom: 15px
      padding: 10px 10px
    +mobile
      font-size: 19px
      margin-bottom: 10px
      padding: 10px 10px
  &__numberItem
    width: 16px
    display: inline-block
    &.-active
      width: 30px
    +touch
      width: 13px
      &.-active
        width: 16px
    +mobile
      width: 12px
      &.-active
        width: 8px
  &__content
    color: #fff
    display: flex
    align-items: flex-start
  &__date
    flex-wrap: wrap
    font-size: 18px
    margin-left: auto
    padding: 10px
    display: inline-flex
    width: 80px
    white-space: nowrap
    flex-shrink: 0
    cursor: pointer
    +touch
      font-size: 16px
  &__dateItem
    position: relative
    span
      display: inline-block
  &__dateTitle
    opacity: 0.7
    font-size: 13px
    width: 100%
    +touch
      font-size: 12px
  &__band
    background: rgba(0, 0, 19, 0.8)
    width: 100%
    height: 50px
    margin-top: 30px
    position: relative
    z-index: 2
    +touch
      margin-top: 20px
    +mobile
      height: 40px
      margin-top: 10px
  &__cvv
    text-align: right
    position: relative
    z-index: 2
    padding: 15px
    .card-item__type
      opacity: 0.7
    +mobile
      padding: 10px 15px
  &__cvvTitle
    padding-right: 10px
    font-size: 15px
    font-weight: 500
    color: #fff
    margin-bottom: 5px
  &__cvvBand
    height: 45px
    background: #fff
    margin-bottom: 30px
    text-align: right
    display: flex
    align-items: center
    justify-content: flex-end
    padding-right: 10px
    color: #1a3b5d
    font-size: 18px
    border-radius: 4px
    box-shadow: 0 10px 20px -7px rgba(32, 56, 117, 0.35)
    +touch
      height: 40px
      margin-bottom: 20px
    +mobile
      margin-bottom: 15px

.payment-card
  padding-top: 130px
  padding-bottom: 4rem
  +touch
    padding-top: 120px
  .card-list
    position: absolute
    top: -130px
    left: 50%
    transform: translateX(-50%)
    width: 100%
    +touch
      top: -120px
  .card-content
    padding-top: 190px
    +touch
      padding-top: 100px
  .label
    font-size: $size-7
    margin-bottom: .25em

.slide-fade-up-enter-active
  transition: all 0.25s ease-in-out
  transition-delay: 0.1s
  position: relative

.slide-fade-up-leave-active
  transition: all 0.25s ease-in-out
  position: absolute

.slide-fade-up-enter
  opacity: 0
  transform: translateY(15px)
  pointer-events: none

.slide-fade-up-leave-to
  opacity: 0
  transform: translateY(-15px)
  pointer-events: none

.slide-fade-right-enter-active
  transition: all 0.25s ease-in-out
  transition-delay: 0.1s
  position: relative

.slide-fade-right-leave-active
  transition: all 0.25s ease-in-out
  position: absolute

.slide-fade-right-enter
  opacity: 0
  transform: translateX(10px) rotate(45deg)
  pointer-events: none

.slide-fade-right-leave-to
  opacity: 0
  transform: translateX(-10px) rotate(45deg)
  pointer-events: none

.errors
  background: $danger
  color: $white
  margin: 1rem 0
  padding: .5rem
  font-weight: $weight-bold
  li
    padding: 0
</style>
