<template>
  <div class="layout">
    <div class="header">
      <LayoutHeader />
    </div>
    <div class="page section">
      <NuxtPage />
    </div>
    <div class="footer">
      <LayoutFooter />
    </div>
  </div>
</template>

<script setup>
import LayoutHeader from "~/components/LayoutHeader.vue";
import LayoutFooter from "~/components/LayoutFooter.vue";
definePageMeta({
  title: "Silverback Pay",
});
</script>

<style lang="sass">
.layout
  display: flex
  flex-direction: column
  height: 100%
  .page
    flex-grow: 1
    &.section
      padding-top: 0
      padding-bottom: 0
</style>