<template>
  <div class="container">
    <Transition name="slide" mode="out-in">
      <invoice-list v-if="page === 'invoices'" @goToPayment="goToPayment" v-model="basket" />
      <payment v-else-if="page === 'payment'" @goToInvoices="goToInvoices" :basket="basket">Payment</payment>
    </Transition>
  </div>
</template>

<script setup lang="ts">
import InvoiceList from '~/components/InvoiceList.vue';
import {ref, watch} from 'vue';
import Payment from '~/components/Payment.vue';
import {useHead} from '#head';
const { public: {OPAYO_HOST} } = useRuntimeConfig()

const page = ref('invoices')
const basket = ref({
  selectedInvoices: null,
  total: null,
  contact: null
})

function goToPayment() {
  page.value = 'payment'
}
function goToInvoices() {
  page.value = 'invoices'
}

useHead({
  script: [
    {
      src: `${OPAYO_HOST}/js/sagepay.js`
    }
  ]
})

watch(page, () => {
  if (!window) {
    return
  }
  window.scrollTo(0,0)
})
</script>

<style lang="sass">
.slide-enter-active,
.slide-leave-active
  transition: all 0.25s ease

.slide-enter-from,
.slide-leave-to
  opacity: 0

.slide-enter-from
  transform: translateX(1rem)

.slide-leave-to
  transform: translateX(-1rem)
</style>