<template>
  <div class="container content has-text-centered">
    <h2 class="has-text-success">Xero connection established</h2>
    <p><nuxt-link to="/" class="button is-primary">Go to home page</nuxt-link></p>
  </div>
</template>
